[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=stellarlin_edge_detection
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=stellarlin_edge_detection
Comment= description of plugin
